sudo: required
language: generic
dist: xenial
notifications:
  email:
    on_success: change
    on_failure: always
    recipients:
    - ros-contributions@amazon.com
    #- travis-build@platform-notifications.robomaker.aws.a2z.com Uncomment once the build passes
env:
  matrix:
  - ROS_DISTRO=dashing ROS_VERSION=2 GAZEBO_VERSION=9 WORKSPACES="robot_ws"
  - ROS_DISTRO=dashing ROS_VERSION=2 GAZEBO_VERSION=9 WORKSPACES="simulation_ws"
  global:
  - secure: C/FhHAN31Iuo7oN08KARzuwhcwX/lSVRFateahLoRbpj87Jf8Jvhj89+SfBrV96MUtAbTV6bxcaWrmzX/B1+mSyHJjRfNDRAVlCIhckmVp5KiB4rQ/VgonTItZgGERYKdyzo05mhIAMKUTleHjgEEAG3Onc7h0jjKnXA+OnRuI6TBUIkmRo5WXOsMXIgdjY+R81f4CSNwyNhrEb1zXCj4y1XpiGVnkhjhLFDRyNYg0BzRoDd1p/knV+3pJbv0RPLOGep6zd7BJZK0X7YSpqE3nR5Dr0COkf50ZLOjMezIU0kCIBk8Iqsj+dQdXrk7Hdn+l6/WyQucFrqUo37CrqHXiloCno59DxKuUPUlJn3kOEmQpW0X1ApF9wxPXRIfrS12KGjSduHjG0bL10Bo3ByGQgZAJvJVUiNWwgtL7ZZZFwF0RHatGe16HBwSBGcGNKq+H1ZKGs0imiSI/J7+/XuFbnXrwaconvYF6OoOJ+xQDjqE+j6iWBuWbtIlZLcjy+B4Q9JZpuYkyc5ILATl/pJRh+RTa3V6om2StoLLU8jb8ydzH0Na3HlfdSwFY1QyPMneSSFHENqHHoEcAIebWpjgs5QKfbTFbDPUewKQnHtyV2Ch4LSStI7XWOcQ3BDiNcBj2/GYwJROBtvmyhixnEFe2Lhnz9D04iUgFStzpeUETo=
  - secure: WFS31qAf1Lc4FlMcxkksWpbJWzbPATHtkqXB7bH3ggW+rrKki64ak8JhnZkGOg2ooPiYxXao8jvp+QA9I/pPAJ7U+inNp9ipWZwTpPKoSW4nJiX33aY5rWocheyq+tSN2qEFhSKvlv7j3cFX2FTC/aWD92n3o9xtc4vXQUK/ITDfpUs1h+nTK5Qkv0VV32i0Ulr/3j5KZt+WamViRaC6ELptu79I0mj6+IT6ImoayuJaJ/ti5rds93/I3YU3e9NYIquPhqUEoDXGzj1IKZ8QHUBZTpiY59bmw0UIzcucqXuxUGevmYn9vscb0xjunV0KS4GCD/o9M/1DXFmgVU7wmuw37hfg7YIuW/2jkpqwoMZH0E310ZrK5ddvpgF9AtysL2ezW34Yyxh4NY8op8ctL3VOyxbYwq0xK7I/ycHMogqO4qD0tkMh47tKX48Y0bWOyIoZmBKWbnYoGzrfgAi6g29NxAhZQB2VdPb6fuu4KAHFoHPRUvQF2i76mpWeS7DJNSOjJ8irUh6c+t4958ScV85CifQQxTsOmABnEe2r6JU0rWiJJwuwqsEw0wSAFUYV2xKw1vqg2dFAnzHczbAYgjvVkuGFqke2MEvq/anCD6yl/GVTEeclWCR0P25mgc1EUZg+4DATEfEx9FhDUxoHLQcElZqpfKZjRlD/e2+svA4=
  - SA_NAME=hello-world
  - SA_PACKAGE_NAME=hello_world_robot
  - NO_TEST=true
  - GH_USER_NAME="travis-ci"
  - GH_USER_EMAIL="travis@travis-ci.org"
  - AWS_DEFAULT_REGION=us-west-2
before_install:
- pip install --user awscli
install:
- git clone -b test https://github.com/AAlon/travis-scripts.git .ros_ci
script:
- . .ros_ci/add_tag.sh
- while sleep 9m; do echo "=====[ $SECONDS seconds still running ]====="; done &
- .ros_ci/ce_build.sh
- kill %1
before_deploy:
- . .ros_ci/before_deploy.sh
