<launch>
  <arg name="gui" default="false"/>
  <include file="$(find aws_robomaker_bookstore_world)/launch/bookstore.launch">
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Spawn Robot -->
  <include file="$(find turtlebot3_description_reduced_mesh)/launch/spawn_turtlebot.launch">
    <arg name="x_pos" default="0.5"/>
    <arg name="y_pos" default="1.0"/>
  </include>
</launch>
