name: build-and-bundle
on: 
  pull_request:
  push:
    branches:
      - ros2
  schedule:
    - cron: '0 14 * * *'  # run at 2 pm everyday

jobs:
  build_and_bundle_ros2:
    strategy:
      matrix:
        distro: ['dashing']
        gazebo: [9]
        include:
        - distro: dashing
          gazebo: 9
          ubuntu_distro: bionic
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule' || github.ref == 'refs/heads/ros2'
    name: 'Build and Bundle (ROS2)'
    container:
      image: rostooling/setup-ros-docker:ubuntu-${{ matrix.ubuntu_distro }}-ros-${{ matrix.distro }}-ros-base-latest
    outputs:
      robot_ws_build_result: ${{ steps.robot_ws_build.outcome }}
      simulation_ws_build_result: ${{ steps.simulation_ws_build.outcome }}
    steps:
    - name: Checkout Branch
      uses: actions/checkout@v1
      with:
        ref: 'ros2'
    - name: Setup Permissions
      run: |
        # TODO(ros-tooling/setup-ros-docker#7): calling chown is necessary for now
        sudo chown -R rosbuild:rosbuild "$HOME" .
    - id: robot_ws_build
      name: Build and Bundle Robot Workspace
      uses: aws-robotics/aws-robomaker-github-actions/robomaker-sample-app-ci@2.1.1
      with:
        ros-distro: ${{ matrix.distro }}
        gazebo-version: ${{ matrix.gazebo }}
        workspace-dir: robot_ws
        generate-sources: true
    - id: simulation_ws_build
      name: Build and Bundle Simulation Workspace
      uses: aws-robotics/aws-robomaker-github-actions/robomaker-sample-app-ci@2.1.1
      with:
        ros-distro: ${{ matrix.distro }}
        gazebo-version: ${{ matrix.gazebo }}
        workspace-dir: simulation_ws
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ROS1 }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ROS1 }}
        aws-region: ${{ secrets.AWS_REGION }}
      if: github.event_name == 'schedule'
    - id: deploy_bundle
      name: Deploy bundle to S3
      uses: aws-robomaker-github-actions/s3-cp-action@v2.1.1
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET_ROS2 }}
        AWS_REGION: ${{ secrets.AWS_REGION }}
        FILES: 'sources.zip sources.tar.gz robot_ws.tar simulation_ws.tar'
        DEST: 'travis/cloudwatch/${{ steps.robot_ws_build.outputs.ros-distro }}/${{ steps.robot_ws_build.outputs.gazebo-version }}/${{ steps.robot_ws_build.outputs.sample-app-version }}.${{ github.run_number }}/'
        if: github.event_name == 'schedule' &&  ${{ ! contains(steps.robot_ws_build.outcome, 'failure') }} & ${{ ! contains(steps.simulation_ws_build.outcome, 'failure') }} # upload to S3 on "schedule" build if the build was successful
    - name: Get time stamp
      id: time
      run: echo "::set-output name=timestamp::$(date +%s)"
    - name: Update App-manifest version number
      id: update-app-manifest
      uses: aws-robotics/robomaker-sample-app-ci/codecommit-put-file-action@v2.1.1
      env:
        REPO_NAME: 'AppManifest-hello-world-${{matrix.distro}}-gazebo${{matrix.gazebo}}'
        BRANCH_NAME: 'mainline'
        FILE_CONTENT: '{\"application_version\": \"${{ steps.robot_ws_build.outputs.sample-app-version }}.${{ github.run_number }}\", \"timestamp\":\"${{ steps.time.outputs.timestamp }}\"}'
        FILE_PATH: '/version.json'
        COMMIT_MSG: 'Updating to version ${{ steps.robot_ws_build.outputs.sample-app-version }}.${{ github.run_number }}.'
        USER_EMAIL: 'github-action-CI@github.com'
        USER_NAME: 'github-action-CI'
        if: github.event_name == 'schedule' &&  ${{ ! contains(steps.robot_ws_build.outcome, 'failure') }} & ${{ ! contains(steps.simulation_ws_build.outcome, 'failure') }} # Update app-manifest version number if the build was successful

  

  log_workflow_status_to_cloudwatch:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:bionic
    needs:
    - build_and_bundle_ros2
    if: ${{ always() && github.event_name != 'pull_request' }}
    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ROS2 }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ROS2 }}
        aws-region: ${{ secrets.AWS_REGION }}
    - name: Log Robot Workspace Build Status
      uses: ros-tooling/action-cloudwatch-metrics@0.0.4
      with:
        metric-dimensions: >-
          [
            { "Name": "github.event_name", "Value": "${{ github.event_name }}" },
            { "Name": "github.ref", "Value": "refs/heads/ros2" },
            { "Name": "github.repository", "Value": "${{ github.repository }}" }
          ]
        namespace: RobotWorkspaceBuild
        metric-value: ${{ ! contains(needs.build_and_bundle_ros2.outputs.robot_ws_build_result, 'failure') }}
    - name: Log Simulation Workspace Build Status
      uses: ros-tooling/action-cloudwatch-metrics@0.0.4
      with:
        metric-dimensions: >-
          [
            { "Name": "github.event_name", "Value": "${{ github.event_name }}" },
            { "Name": "github.ref", "Value": "refs/heads/ros2" },
            { "Name": "github.repository", "Value": "${{ github.repository }}" }
          ]
        namespace: SimulationWorkspaceBuild
        metric-value: ${{ ! contains(needs.build_and_bundle_ros2.outputs.simulation_ws_build_result, 'failure') }}